PORT=3001
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/strive-blog
CLIENT_URL=http://localhost:5173
JWT_SECRET=metti-una-stringa-segreta

VITE_API_URL=http://localhost:3001

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3001/auth/google/callback

SENDGRID_API_KEY=
EMAIL_SENDER=

